# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Built packages
build/
../lib/

# Workspaces
.vscode/


#Added by cargo

**/target/
**/Cargo.lock

# JS workspace
**/node_modules/
**/dist/
**/package-lock.json
